{% extends 'base.html.twig' %}

{% block title %}Page {{team.name}}{% endblock %}

{% block body %}

<p>Infos sur l'équipe' {{team.name}}</p>
<p>Nom du coach: {{team.coach}}</p>
<p>année de fondation: {{team.coachFoundation}}</p>

{% endblock %}
